extends layout_home

block content
  div.landing
    div.header-message
      img.banner-image(src='https://dl.dropboxusercontent.com/u/22019990/wholesome.png', alt='wholesome')
      //- h1 wholesome
      div.tagline
        h3.lead Find products for good health and physical wellbeing.
    div.signup
      a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fa.fa-facebook
          | Sign up with Facebook
      div.divider
        hr.left
        | or
        hr.right
      form#signup-form
        input(name='username', placeholder='Your email', size='30', tabindex='20', type='email', value='')
        br
        input(name='password', placeholder='Password', required='required', size='30', tabindex='20' type='password')
        br
        input(name='commit', type='submit', tabindex='23', value='Sign up')
      script(src='http://src.fireform.org/fireform.min.js')
      script.
        /* See more options at http://fireform.org/docs */
        options={
          emailNotification:"eionmcmillan@gmail.com",
          callback: function(err, val){
            alert("pumpkin");
          }
        }
        new Fireform('#signup-form', 'http://fireform.org/list/246/wholesome-signup', options)
      div.account-exists
        | Been here before?
        a(href='/login.html') Sign in.

    //- hr
    //- .row
    //-   .col-sm-6
    //-     h2 /ˈhōlsəm/
    //-     p
    //-       a.btn.btn-default(href='#', role='button') View details »