extends layout/layout_home

block content
  div.landing-banner
    img.banner-image(src="https://dl.dropboxusercontent.com/u/22019990/background.png")
    div.landing-center
      img.banner-logo(src='https://dl.dropboxusercontent.com/u/22019990/wholesome.png', alt='wholesome')
      h2.tagline
        | Find products to feed
        br
        | your inner granola.
      button.landing-signup.btn.btn-default(type="button")
        | Sign Up
    div.landing-divider
    div.landing-products
      container.products
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10903636_1579341165635690_1927659295_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10899370_760898350647698_1336801483_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10903676_1595512524004722_1148728274_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10919184_516127168528036_142472923_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10899385_832580900139144_531437924_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10890669_349490188568179_992086182_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/928896_1437756483111744_1828879552_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/923807_832106760143873_1822466602_n-1.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10932444_394203527407031_1892518301_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10899038_720378341391224_561604638_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10895127_632333750225886_1472521934_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10881923_497933080344722_1007060052_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10891055_410539032436610_931618414_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/1391255_242832385879683_1558561924_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10848219_1407546262869435_2107993180_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10899338_1402610496702433_310073954_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10859944_751531294935309_705245797_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/924021_1457051551212362_805693620_n.jpg")
  //- div.landing
    //- div.landing-copy-box
    //-   img.banner-image(src='https://dl.dropboxusercontent.com/u/22019990/wholesome.png', alt='wholesome')
    //-   //- h1 wholesome
    //-   div.tagline
    //-     h3.lead Products for
    //-       b &nbsp;good health
    //-       |  and
    //-       b &nbsp;physical wellbeing
    //-       | .
    //-     //- Products for good health and physical wellbeing.
    //-   hr
    //-   //- div.thanks-for-signup
    //-   //-   h3.signup-response
    //-   //-     br
    //-   //-     | Nice. We&apos;ll let you know when it&apos;s launch time.
    //-   //-     br
    //-   //-     br
    //-   //-     | Namaste.
    //- div.signup
    //-   h4 What do you search for that's wholesome?
    //-   form#signup-form
    //-     input.text(name='whats-wholesome', placeholder='I search for...', type='text', value='')
    //-     input.text(name='email', placeholder='Your email', size='30', type='email', value='')
    //-     br
    //-     input.submit(name='commit', type='submit', value='Let me know when you launch!')
    //-   script(src='http://src.fireform.org/fireform.min.js')
    //-   script.
    //-     /* See more options at http://fireform.org/docs */
    //-     options={
    //-       emailNotification:"eionmcmillan@gmail.com",
    //-       callback: function(err, val){
    //-         //- alert("pumpkin");
    //-       }
    //-     }
    //-     new Fireform('#signup-form', 'http://fireform.org/list/246/wholesome-signup', options)



    //- div.signup
    //-   a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
    //-       i.fa.fa-facebook
    //-       | Sign up with Facebook
    //-   div.divider
    //-     hr.left
    //-     | or
    //-     hr.right
    //-   div.account-exists
    //-     | Been here before?
    //-     &nbsp;
    //-     a(href='/login.html') Sign in.

    //- hr
    //- .row
    //-   .col-sm-6
    //-     h2 /ˈhōlsəm/
    //-     p
    //-       a.btn.btn-default(href='#', role='button') View details »