extends layout_home

block content
  div.header-message
    h1 Wholesome
    h3.lead Find products for good health and physical wellbeing.
    //- hr
    //- .row
    //-   .col-sm-6
    //-     h2 /ˈhōlsəm/
    //-     p
    //-       a.btn.btn-default(href='#', role='button') View details »