extends layout_home

block content
  h1 Wholesome.io
  p.lead Where you go to find wholesome products online.
  //- hr
  .row
    .col-sm-6
      h2 /ˈhōlsəm/
      p conducive to or suggestive of good health and physical well-being.
        p "the food is plentiful and very wholesome"
      h1 Wholesome.io
      p.lead Where you go to find wholesome products online.
      p
        a.btn.btn-default(href='#', role='button') View details »