extends layout/layout_home

block content
  div.landing-banner
    //- img.banner-image(src="https://dl.dropboxusercontent.com/u/22019990/wholesome/stock-photo-profile-side-portrait-of-beautiful-young-happy-smiling-woman-isolated-over-white-background-179958500.png")
    div.landing-center
      img.banner-logo(src='https://dl.dropboxusercontent.com/u/22019990/wholesome.png', alt='wholesome')
      h2.tagline
        | Find products to feed
        br
        | your inner granola.
      form.landing-signup
        .form-group
          input.landing-signup-email.form-control(type='email', placeholder='Email', value='', size='30')
          button.landing-signup-button.btn.btn-default(type='submit') Sign up
          //- p.help-block We'll let you know when we launch
    hr
    //- div.landing-divider
    div.landing-products
      container.products
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10903636_1579341165635690_1927659295_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10706677_459660780839332_311751271_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10899038_720378341391224_561604638_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10919184_516127168528036_142472923_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/928219_243038122552238_672649213_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10890669_349490188568179_992086182_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/928896_1437756483111744_1828879552_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/il_570xN.png")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10919189_786268771410866_1680763181_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10483548_679785122097403_1524665496_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10895127_632333750225886_1472521934_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10881923_497933080344722_1007060052_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/1388933_780594498687546_1648784060_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10899342_412176792280307_1274871974_n-1.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10431843_516299085137599_303875746_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10903263_398080697016623_1532130685_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10683822_849375135082280_1275310560_n.jpg")
        div.product
          img.product-image(src="https://dl.dropboxusercontent.com/u/22019990/square-product-photos/10471859_1470959016482971_2090225078_n.jpg")
  //- div.landing
    //- div.landing-copy-box
    //-   img.banner-image(src='https://dl.dropboxusercontent.com/u/22019990/wholesome.png', alt='wholesome')
    //-   //- h1 wholesome
    //-   div.tagline
    //-     h3.lead Products for
    //-       b &nbsp;good health
    //-       |  and
    //-       b &nbsp;physical wellbeing
    //-       | .
    //-     //- Products for good health and physical wellbeing.
    //-   hr
    //-   //- div.thanks-for-signup
    //-   //-   h3.signup-response
    //-   //-     br
    //-   //-     | Nice. We&apos;ll let you know when it&apos;s launch time.
    //-   //-     br
    //-   //-     br
    //-   //-     | Namaste.
    //- div.signup
    //-   h4 What do you search for that's wholesome?
    //-   form#signup-form
    //-     input.text(name='whats-wholesome', placeholder='I search for...', type='text', value='')
    //-     input.text(name='email', placeholder='Your email', size='30', type='email', value='')
    //-     br
    //-     input.submit(name='commit', type='submit', value='Let me know when you launch!')
    //-   script(src='http://src.fireform.org/fireform.min.js')
    //-   script.
    //-     /* See more options at http://fireform.org/docs */
    //-     options={
    //-       emailNotification:"eionmcmillan@gmail.com",
    //-       callback: function(err, val){
    //-         //- alert("pumpkin");
    //-       }
    //-     }
    //-     new Fireform('#signup-form', 'http://fireform.org/list/246/wholesome-signup', options)



    //- div.signup
    //-   a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
    //-       i.fa.fa-facebook
    //-       | Sign up with Facebook
    //-   div.divider
    //-     hr.left
    //-     | or
    //-     hr.right
    //-   div.account-exists
    //-     | Been here before?
    //-     &nbsp;
    //-     a(href='/login.html') Sign in.

    //- hr
    //- .row
    //-   .col-sm-6
    //-     h2 /ˈhōlsəm/
    //-     p
    //-       a.btn.btn-default(href='#', role='button') View details »