extends layout

block content
  h1=title
  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='title') Name
      .col-sm-8
        input.form-control(type='text', name='title', id='name', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='description') Body
      .col-sm-8
        textarea.form-control(type='text', name='description', id='message', rows='7')
    .form-group
      label(class='col-sm-2 control-label', for='description') File
      .col-sm-8
        input.form-control(type='file', name='file', id='file')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          span.ion-android-create
          | Create