// An opinionated styleguide for writing sane, maintainable and scalable Sass.
// http://sass-guidelin.es

@import "themes/modern/variables";

@import "vendors/bootstrap";
@import "vendors/bootstrap-social";
@import "vendors/font-awesome";
@import "vendors/ionicons";

@import "themes/modern/styles";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  -webkit-font-smoothing: antialiased;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 45px;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^="ion-"] {
  margin-right: 5px;
}

// Home
// -------------------------
//
body.home{
  background: url('https://dl.dropboxusercontent.com/u/22019990/desktop%20concept.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .landing{
    margin-left: 6%;
    margin-top: 5%;
    background-color: rgba(255,242,230, 0.85);
    border-radius: 15px;
    width: 420px;
    height: 430px;
    border: 0.5px solid #886C54;
  }
  .landing-copy-box{
    align: center;
    img.banner-image{
      width: 380px;
      margin-left:5%;
      margin-right:5%;
      margin-top: 16px;
    }
    h1{
      /*text-transform: uppercase;*/
      text-align: center;
      font-style: italic;
      font-size: 5em;
      font-family: "oliver_demo", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 1000;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
    }
    h3 {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      margin-left: 12%;
      margin-right: 12%;
      padding-bottom: 5px;
    }
  }
  .signup{
    h4{
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 18px;
      margin-left: 6%;
      margin-right: 6%;
      text-align: center;
      color: #719B58;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .divider {
    width:400px;
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
    }
    .divider hr {
      margin-left:auto;
      margin-right:auto;
      width:40%;
    }
    .left{
      float: left;
    }
    .right{
      float: right;
    }
    .btn-social{
      margin-left:auto;
      margin-right:auto;
      width: 60%;
    }
    form{
      margin-left:auto;
      margin-right:auto;
      width: 70%;
      input{
        width: 100%;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
      input.text{
        text-indent: 6px;
      }
      .submit{
          padding-top: 10px;
          background-color: #E5962E;
        }
    }
    div.account-exists{
      text-align: center;
      margin-left:auto;
      margin-right:auto;
      width: 60%;
    }
  }

}

/*end of body.home*/

